<div class="page-header">
  <h1>Aren't they precious? </h1> 
</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://www.toughpigs.com/wp-content/uploads/2013/04/A-dog-wearing-a-tuxedo.jpg?9d7bd4"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://i.dailymail.co.uk/i/pix/2013/06/13/article-2340930-1A4BC38A000005DC-21_634x410.jpg"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://media-cache-ec0.pinimg.com/236x/24/bf/9f/24bf9f7e3c8fe86fff5dbcf6fa27d7f8.jpg"/></div>
</div>

<h2><p class="text-center">Is that Animal in Costume a Dog?</p></h2>
<p> <p class="text-center"> Ways to tell....</p></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Is it Friendly?</th>
      <th>Is it Cute?</th>
      <th>Is it a Dog?</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>Yes</td>
        <td>Yes</td>
        <td>IT IS!</td>
      </tr>
      <tr>
        <td>No...</td>
        <td>I guess...</td>
        <td>IT'S NOT!</td>
      </tr>
    </tbody>
</table>