<div class="jumbotron">
  <h1>We all love puppies</h1>
<p>But I <i> just don't know </i> where to find them on the internet. This is our place.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a>
  <a class="btn btn-danger btn-lg" role="button" href="https://www.google.com/search?q=kittens&tbm=isch">
<span class="glyphicon glyphicon-thumbs-down"></span>
  	I prefer kittens
  	<span class="glyphicon glyphicon-thumbs-down"></span>
  </a>
  </p>
</div>



